@using My_Portfolio_.Net_Core_6._0.DAL.Entities
@model List<Contact>
@{
    ViewData["Title"] = "ContactList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="card">
	<div class="card-header">
		<div class="card-title">Contact List</div>
	</div>
	<div class="card-body">
		<table class="table mt-3">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Title</th>
					<th scope="col">Phone</th>
					<th scope="col">Address</th>
					<th scope="col">Operations</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.ContactId</td>
						<td>@item.ContactTitle</td>
						<td>@item.ContactPhone</td>
						<td>@item.ContactAddress</td>
						<td>
							<a href="/Contact/Detail/@item.ContactId" class="btn btn-primary">Details</a>
							<a href="/Contact/Edit/@item.ContactId" class="btn btn-warning">Edit</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<br />