@model List<My_Portfolio_.Net_Core_6._0.DAL.Entities.Testimonial>

<div class="s-testimonials">

    <div class="overlay"></div>

    <div class="row testimonials-header">
        <div class="col-full">
            <h1 class="h02">What People Say.</h1>
        </div>
    </div>

    <div class="row testimonials">
        <div class="col-full testimonials__slider">

            @foreach (var item in Model)
            {
                <div class="testimonials__slide">
                    <img src="@item.TestimonialImage" alt="Author image" class="testimonials__avatar">
                    <p>
                        @item.TestimonialDescription
                    </p>
                    <div class="testimonials__author h06">
                        @item.TestimonialTitle
                    </div>
                </div>
            }

        </div> <!-- end testimonials__slider -->

    </div> <!-- end testimonials -->

</div> 