@model My_Portfolio_.Net_Core_6._0.DAL.Entities.Testimonial

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Layout/Index.cshtml";
}

<div class="card">
	<div class="card-header">
		<div class="card-title">Edit Testimonial</div>
	</div>
	<div class="card-body">
		<form method="post">
			@Html.HiddenFor(x=>x.TestimonialId)
			<label>Title</label>
			<input type="text" asp-for="TestimonialTitle" class="form-control" />
			<br />
			<label>Image</label>
			<input type="text" asp-for="TestimonialImage" class="form-control" />
			<br />
			<label>Description</label>
			<textarea rows="4" asp-for="TestimonialDescription" class="form-control"></textarea>
			<br />
			<button class="btn btn-primary">SAVE</button>
		</form>
	</div>
</div>

